<h1>プロフィールページ</h1>

<% if @user.avatar.attached? %>
  <p>
    <%= image_tag(@user.avatar, class: 'profile-icon') %>
  </p>
<% else %>
  <p>
    <%= link_to image_tag("default_user.png", class: 'profile-icon'), "#{profile_path(@user)}" %>
  </p>
<% end %>

<%= render partial: '/relationships/follow_list', locals: { user: @user } %>
<br>

<h2>振り返り一覧</h2>
<%= render partial: '/shared/answer_form', locals: { answers: @user.answers } %>
