<div class="row mb-3">
  <div class="col-lg-8 offset-2">
    <%= form_with model: comment, url: [answer, comment], id: 'new_comment', local: false do |f| %>
      <%= f.label :body, "コメント" %>
      <%= f.text_area :body, class: 'form-control mb-3', id: 'js-new-comment-body', row: 4 %>
      <%= f.submit ("送信"), class: 'equal-width' %>
    <% end %>
  </div>
</div>