<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="alert alert-danger alert-dismissible fade show mb-0">
    <span>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <ul class="p-0">
      <% resource.errors.full_messages.each do |message| %>
        <li class="list-unstyled font-weight-bold"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>