<div class="bg-light p-1">
  <div class="border-bottom mb-3">
    <h4 class="mb-3">通知一覧</h4>
  </div>
  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <% if notifications.exists? %>
    <%= render notifications %>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>
