<div class="card-bg text-main text-center p-3 mt-5">
  <h4 class="my-2">パスワード再設定</h4>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field my-3">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, style: 'width: 55%;', class: "custom-input equal-width mb-3", autocomplete: "email" %>
    </div>
    <div class="actions my-3 text-center">
      <%= f.submit "送信", class: "btn-lg bg-btn text-decoration-none" %>
    </div>
  <% end %>
</div>
