<div class="d-flex justify-content-center text-main card-bg">
  <div class="row">
    <div class="mb-3 mx-2 mt-3">
      <%= link_to('設定', rules_path, class: "text-main") %>
    </div>
    <div class="mb-3 mx-2 mt-3">
      <%= link_to('実行', new_answer_path, class: "text-main") %>
    </div>
    <div class="mb-3 mx-2 mt-3">
      <%= link_to('結果一覧', answers_path, class: "text-main") %>
    </div>
  </div>
</div>
