<nav class="navbar navbar-expand navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item ml-3 mr-lg-3">
        <%= link_to '利用規約', terms_and_condition_pages_path, class: 'nav-link mb-lg-3 text-main' %>
      </li>
      <li class="nav-item mr-lg-3">
        <%= link_to 'プライバシーポリシー', privacy_policy_pages_path, class: 'nav-link text-main' %>
      </li>
      <li class="nav-item">
        <%= link_to 'お問い合わせ', new_contact_path, class: 'nav-link text-main' %>
      </li>
    </ul>
  </div>
</nav>
