<div class="row">
  <div class="col-2">
    <%= render'shared/answer_sidebar' %>
  </div>
  <div class="col-8 mt-3 offset-1">
    <%= render partial: '/shared/answer_form', locals: { answers: @answers } %>
  </div>
</div>

