<div class="container">
  <div class="row p-1">
    <div class="col text-left">
      <div class="row">
        <span class="text display-4 app-name my-2 mr-2">MONKMODE</span>
        <span class="d-flex align-items-end my-2 text-q text-light">とは,</span>
      </div>
      <div class="row my-2 text-q text-light">自分の足を引っ張る余計なものを徹底的に排除し、</div>
      <div class="row mb-5 text-q text-light">結果を出すための生活を徹底するライフスタイルのこと</div>

      <div class="row my-2">
        <span class="text display-4 app-name mr-2">MONKMODE</span>
        <span class="d-flex align-items-end text-q text-light">を取り入れて</span>
      </div>
      <div class="row mb-5 text-q text-light">自分の夢・目標を叶えて人生を切り開こう</div>

      <div class="row">
       <%= link_to "挑戦する", new_user_session_path, class: "btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>