<div class="text-main">
  <div class="card-bg p-3">
    <h2 class="cp_rule_1">-- 目次 --</h2>
    <ol class="">
      <li>MONK MODEとは？</li>
      <li>努力できない要因</li>
      <li>MONK MODEの期間</li>
      <li>ルール(生活習慣編)</li>
      <li>ルール(禁止事項編)</li>
      <li>暇な時間にやること</li>
      <li>OFFの日の過ごし方</li>
    </ol>
  </div>

  <div class="card-bg p-3 mt-5">
  <div class="d-flex align-items-center text-decoration mb-3">
    <div class="circle_number mr-2 px-2">1</div>
    <span class="cp_rule_1">MONK MODEとは？</span>
  </div>

    <p class="">理想の自分・夢・目標を達成するために<br>
    "自分の足を引っ張る余計なもの"を排除し、<br>
    "結果を出すための生活"を徹底するライフスタイルのこと。</p>
  </div>

  <div class="card-bg p-3">
    <p class="cp_rule_2">MONK MODEで期待できる効果</p>
    <div class="row">
      <div class="col-md-12">
        <ul class="cp_list_monk ">
          <li>収入UP</li>
          <li>目標達成</li>
          <li>スキルアップ</li>
          <li>ルックスの向上</li>
          <li>メンタルヘルスの向上</li>
          <li>フィジカルヘルスの向上</li>
          <li>自己規律、忍耐、メンタルの強さの向上</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="card-bg p-3 mt-5">

    <div class="d-flex align-items-center text-decoration mb-3">
      <div class="circle_number mr-2 px-2">2</div>
      <span class="cp_rule_1">努力できない2つの要因</span>
    </div>

    <p class="cp_rule_2">余計なものに時間を使っている</p>
    <p class="">瞬間的に快楽を得られる行動に慣れてしまったせいで、<br>
    低刺激で自分の幸せを得るための行動を選択できなくなっている</p>

    <div class="row">
      <div class="col-md-6 text-danger font-weight-bold">
        <p class="cp_rule_2 text-center mb-0">瞬間的な快楽</p>
        <ul class="cp_list_bad">
          <li>酒</li>
          <li>SNS</li>
          <li>タバコ</li>
          <li>ポルノ</li>
          <li>ゲーム</li>
          <li>YouTube</li>
          <li>ジャンクフード</li>
        </ul>
      </div>

      <div class="col-md-6 text-info font-weight-bold">
        <p class="cp_rule_2 text-center mb-0">自分の幸せを得るための行動</p>
        <ul class="cp_list_good">
          <li>副業</li>
          <li>筋トレ</li>
          <li>資格勉強</li>
          <li>転職活動</li>
        </ul>
      </div>
    </div>

    <p class="cp_rule_2 mt-3">テストステロンの低下</p>
    <p class="">テストステロンとは、他の男に勝つための勝負のホルモン。<br>
    テストステロンが低下すると努力できる状態ではなくなる。</p>

    <div class="row">
      <div class="col-md-6 text-danger font-weight-bold">
        <p class="text-center cp_rule_2 mb-0">低テストステロン</p>
        <ul class="cp_list_bad">
          <li>低下</li>
          <li>うつ病</li>
          <li>慢性疲労</li>
          <li>志望の増加</li>
          <li>ED・性欲減退</li>
          <li>認知症リスクの上昇</li>
          <li>骨粗鬆症リスクの増加</li>
        </ul>
      </div>

      <div class="col-md-6 text-info font-weight-bold">
        <p class="text-center cp_rule_2 mb-0">高テストステロン</p>
        <ul class="cp_list_good">
          <li>丈夫な骨</li>
          <li>BMIの改善</li>
          <li>勃起・性欲の回復</li>
          <li>自信・気分の向上</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="card-bg p-3 mt-5">
    <div class="d-flex align-items-center text-decoration mb-3">
      <div class="circle_number mr-2 px-2">3</div>
      <span class="cp_rule_1">MONK MODEの期間設定</span>
    </div>
    <p class="mt-3 cp_rule_2 ">結論、2週間サイクル   レスト1〜2日</p>
    <p class="">継続したいので適度に休む必要がある</p>
  </div>

  <div class="card-bg p-3 mt-5">
    <div class="d-flex align-items-center text-decoration mb-3">
      <div class="circle_number mr-2 px-2">4</div>
      <span class="cp_rule_1">ルール(生活習慣編)</span>
    </div>
    <p class="mt-3 ">以下の6つのルールを守り、<br>テストステロンを高めて努力できる状態を維持する</p>

    <ol class="">
      <li>朝7時までに起床&最低7時間睡眠</li>
      <li>外に出て15分以上日光を浴びる（雨の日は除く）</li>
      <li>毎日運動を30分以上実施（筋トレ、散歩、その他スポーツ）</li>
      <li>スキル取得、勉強、副業毎日1時間以上</li>
      <li>良質な資質を毎日最低80g以上摂取</li>
      <li>タンパク質を体重の数字×2(g)以上摂取</li>
    </ol>
  </div>

  <div class="card-bg p-3 mt-5">
    <div class="d-flex align-items-center text-decoration mb-3">
      <div class="circle_number mr-2 px-2">5</div>
      <span class="cp_rule_1">ルール(禁止事項編)</span>
    </div>
    <p class="mt-3 ">自分の目標を達成することにエネルギーを使いたいので、<br>原動力を奪うような以下のものを制限する。</p>

    <ol class="">
      <li>酒、タバコ</li>
      <li>ポルノ&自慰行為</li>
      <li>ジュース&お菓子</li>
      <li>娯楽のスクリーンタイム（2時間以上）</li>
      <li>ジャンクフード、コンビニ弁当、加工食品</li>
      <li>ショート動画（TikTok,YouTube Shorts, Instagram reel）</li>
    </ol>
  </div>

  <div class="card-bg p-3 mt-5">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center text-decoration mb-3">
          <div class="circle_number mr-2 px-2">6</div>
          <span class="cp_rule_1">暇な時間にやること（スマホの代わり）</span>
        </div>
        <p class="mt-3 ">メンタルを整えることが目的。<br>瞬間的な快楽から自分を遠ざける工夫。</p>
        <ul class="mt-3  cp_list_monk">
          <li>読書</li>
          <li>散歩</li>
          <li>瞑想</li>
          <li>サウナ</li>
          <li>ジャーナル</li>
          <li>趣味、スポーツ</li>
          <li>料理、買い出し</li>
          <li>ヨガ、ストレッチ</li>
          <li>家族、友達と時間を過ごす</li>
          <li>お出かけ、探検、お店に行く</li>
          <li>ポッドキャスト、ラジオを聞く</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-bg p-3 mt-5">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center text-decoration mb-3">
          <div class="circle_number mr-2 px-2">7</div>
          <span class="cp_rule_1">OFFの日の過ごし方</span>
        </div>
        <p class="mt-3 ">息抜きを目的とする。<br>課していた制限を全て解除しOK。</p>
        <ul class="mt-3  cp_list_monk">
          <li>異性と遊ぶ</li>
          <li>生活習慣のルール撤廃</li>
          <li>友達と思いっきり遊ぶ、お出かけする</li>
          <li>MONK MODEを忘れてやりたいことをやる</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mb-5"></div>
</div>
