<div class="bg-light p-1">
  <h5><span class="app-name">MONKMODE</span>のルールに関しては下記動画を参照</h4>
  <span class="small text-muted">※<%= link_to "投稿主", "https://twitter.com/coach_joji" %>から動画掲載の了承は得ています</span>
</div>

<div class="youtube-container">
  <iframe width="955.7" height="530" src="https://www.youtube.com/embed/rVCog7s90DI" title="99％の男達に”圧倒的な差”をつけるための12個のルール（僧侶モード2023）" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

