.box-wrap .box {
  display: none;
  position: absolute;
}

.btn-wrap.is-inactive {
  display: none;
}

.box-wrap.is-inactive .box{
  position: relative;
}

.profile-icon {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #333300;
}

.header-icon {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #333300;
}

.cal-heatmap-container {
	display: block;
}

.cal-heatmap-container .graph
{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.cal-heatmap-container .graph-label
{
	font-size: 1rem;
  color: #fffffe;
}

.cal-heatmap-container .graph, .cal-heatmap-container .graph-legend rect {
	shape-rendering: crispedges
}

.cal-heatmap-container .graph-rect
{
	fill: #ededed
}

.cal-heatmap-container .graph-subdomain-group rect:hover
{
	stroke: #fffffe;
	stroke-width: 1px
}

.cal-heatmap-container .subdomain-text {
	font-size: 12px;
	pointer-events: none
}

.cal-heatmap-container .hover_cursor:hover {
	cursor: pointer
}

.cal-heatmap-container .qi {
	background-color: #999;
	fill: #999
}

/*
Remove comment to apply this style to date with value equal to 0
.q0
{
	background-color: #fff;
	fill: #fff;
	stroke: #ededed
}
*/

.cal-heatmap-container .q1
{
	background-color: #ead5ff;
	fill: #ead5ff
}

.cal-heatmap-container .q2
{
	background-color: #d5aaff;
	fill: #d5aaff
}

.cal-heatmap-container .q3
{
	background-color: #bf80ff;
	fill: #bf80ff
}

.cal-heatmap-container .q4
{
	background-color: #aa55ff;
	fill: #aa55ff
}

.cal-heatmap-container .q5
{
	background-color: #952bff;
	fill: #952bff
}

.cal-heatmap-container .q6
{
	background-color: #5500aa;
	fill: #5500aa
}

.cal-heatmap-container rect.highlight
{
	stroke:#444;
	stroke-width:1
}

.cal-heatmap-container text.highlight
{
	fill: #444
}

.cal-heatmap-container rect.highlight-now
{
	stroke: red
}

.cal-heatmap-container text.highlight-now
{
	fill: red;
	font-weight: 800
}

.cal-heatmap-container .domain-background {
	fill: none;
	shape-rendering: crispedges
}

.ch-tooltip {
	padding: 10px;
	background: #222;
	color: #fffffe;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 99999;
	text-align: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: none;
	box-sizing: border-box;
}

.ch-tooltip::after{
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: "";
	padding: 0;
	display: block;
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #222;
}

.fa-square-x-twitter {
	color: rgb(30, 48, 80);
	font-family: unset;
	font-weight: bold;
}
.n-circle {
  position: absolute;
  padding-left: 1.3rem;
  padding-top: 1rem;
  color: #60CAAD;
}

.icon_mini {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #333300;
}

.navbar-nav .dropdown-toggle::after {
  display: none;
}

.profile-icon-default {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #333300;
}

.font-sm {
	font-size: 0.7rem;
}

.equal-color {
  text-decoration: none;
  color: #fffffe;
}

.equal-color:hover {
  color: #fffffe !important;
}

.equal-heading-size {
	font-size: 2rem;
  color: #fffffe;
}

.channel-menu {
  position: fixed;
  top: 0;
  @media screen and (max-width: 600px) {
    position: inherit;
    margin-left: 0;
  }
}

.channel-menu_name {
  display: inline-block;
  padding: 0 0.5rem 0 1.5rem;
  color: #fffffe !important;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 53px;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    padding-left: 0;
  }
}
.channel_name .prefix {
  margin-right: 8px;
}

.channel-menu_prefix {
  padding-right: 0.5rem;
  font-weight: 500;
}
.channel-menu_date {
  font-weight: bold;
}
.channel-menu h3 {
  float: right;
  padding-right: 0.1rem;
  font-weight: 500;
}
.listings {
  min-height: 100vh;
  height: 100%;
  width: 220px;
  float: left;
  color: #fffffe !important;
  background-color: #212529 !important;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  @media screen and (max-width: 600px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.listings_channels {
  margin: 1rem 0 2rem;
}

.listings_header {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.25rem;
  margin: 0 1rem 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fffffe !important;
  width: 165px;
  position: relative;
}

.channel_list {
  padding: 0;
  list-style-type: none;
  text-align: left;
  color: #fffffe !important;
}

.channel {
  height: 46px;
  line-height: 46px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-right: 17px;
  color: #fffffe !important;
  padding-left: 1rem;
  a {
    color: #fffffe !important;
    text-decoration: none;
    width: 100%;
    display: inline-block;
  }
  a:hover {
    color: #fffffe !important;
    text-decoration: none;
  }
}

.channel.active {
  background: #60CAAD;
}

.app-logo {
	color: #7f5af0;
	font-family: "Playfair Display";
	font-weight: bold;
}

.app-logo:hover {
  color: rgba(127, 90, 240, 0.8);
  text-decoration: none;
}

.app-name {
	color: #7f5af0;
}

.app-name:hover {
  text-decoration: none;
}

.text-q {
  font-size: 1.5rem;
}

.custom-height {
  height: 2em;
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #242629 !important;
  border-top: 3px solid #16161a;
}

header {
  background: #242629 !important;
  border-bottom: 3px solid #16161a;
}

.overflow-hidden {
  overflow-y: hidden;
}

.z-index-10 {
  z-index: 10;
  position: relative;
}

ul.cp_list_monk {
	padding: 0.5em;
	list-style-type: none;
}
ul.cp_list_monk li {
	position: relative;
	padding: 0.5em 1em 0.5em 2.3em;
	margin-bottom:5px;
	border-bottom: 1px solid #60CAAD;
}
ul.cp_list_monk li:after,
ul.cp_list_monk li:before{
	content:'';
	position: absolute;
	border-radius: 50%;
}
ul.cp_list_monk li:before {
	top: 50%;
	left: 0.2em;
	width: 17px;
	height: 17px;
	background: #60CAAD;
	transform: translateY(-50%);
}


ul.cp_list_bad {
	padding: 0.5em;
	list-style-type: none;
}
ul.cp_list_bad li {
	position: relative;
	padding: 0.5em 1em 0.5em 2.3em;
	margin-bottom:5px;
	border-bottom: 1px solid rgba(220, 53, 69, 1);
}
ul.cp_list_bad li:after,
ul.cp_list_bad li:before{
	content:'';
	position: absolute;
	border-radius: 50%;
}
ul.cp_list_bad li:before {
	top: 50%;
	left: 0.2em;
	width: 17px;
	height: 17px;
	background: rgba(220, 53, 69, 1);
	transform: translateY(-50%);
}

ul.cp_list_good {
	padding: 0.5em;
	list-style-type: none;
}
ul.cp_list_good li {
	position: relative;
	padding: 0.5em 1em 0.5em 2.3em;
	margin-bottom:5px;
	border-bottom: 1px solid rgba(25,118,210, 1);
}
ul.cp_list_good li:after,
ul.cp_list_good li:before{
	content:'';
	position: absolute;
	border-radius: 50%;
}
ul.cp_list_good li:before {
	top: 50%;
	left: 0.2em;
	width: 17px;
	height: 17px;
	background: rgba(25,118,210, 1);
	transform: translateY(-50%);
}

.cp_rule_1 {
  font-weight: bold;
  font-size: 1.4rem;
}

.cp_rule_2 {
  font-weight: bold;
  font-size: 1.1rem;
}

:hover {
  text-decoration: none !important;
}



ol {
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding:0.5em;
}
ol li {
  position: relative;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.5em 30px;
	margin-bottom:5px;
	border-bottom: 1px solid #60CAAD;
}

ol li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*以下数字のデザイン変える*/
  display:inline-block;
  background: #60CAAD;
  color: fffffe;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


.text-main {
 color: #fffffe !important;
}

a:hover {
  opacity: 0.8;
}

.text-secondary{
  color: #72757e;
}

.text-pr {
  color: #7f5af0;
}

.text-hi {
  color: #60CAAD;
  font-size: 1.5rem;
}

.card-bg {
  background-color: #242629;
  border-color: #010101;
}

.card-se-bg {
  background-color: #7f5af0;
  border-color: #010101;
}

.circle_number {
  width: 30px;
  height: 25px;

  line-height: 25px;
  border-radius: 50%;
  background-color: #60CAAD;

  color: white;
  font-size: 15px;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight: bold;
  padding-left: 0.5em;

}

.text-decoration {
  text-decoration:5px;
	border-bottom: 1px solid #60CAAD;
}

.bg-btn {
  background-color: #7f5af0;
  color: #fffffe;
  text-decoration: none;
}

.bg-btn:hover {
  background-color: rgba(127, 90, 240, 0.8);
  cursor: pointer;
}

.custom-input {
  background-color: #16161a;
  color: #fffffe;
  border: 2px solid #60CAAD;
}

.equal-width {
  height: 48px;
  width: 100%; /* もしくは具体的な幅を指定 */
}

input:focus {
  outline: none;
}

.custom-textarea {
  background-color: #16161a;
  color: #fffffe;
  border: 2px solid #60CAAD;
  height: 144px;
  width: 100%;
}

textarea:focus {
  outline: none;
}

.text-main:hover {
  text-decoration: none;
}

.my-radio-bad {
  accent-color: rgba(220, 53, 69, 1);
  inline-size: 1.3rem;
  block-size: 1.3rem;
  top: 50%;
}

.my-radio-good {
  accent-color: rgba(25,118,210, 1);
  inline-size: 1.3rem;
  block-size: 1.3rem;
  top: 50%;
}

.pagination>li>a {
  color: #fffffe;
  background-color: #7f5af0;
}

.pagination>.active>a {
  position: static;
  background: #60CAAD !important;
  border-color: #fffffe !important;
}

.pagination {
  justify-content: center;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  background: #60CAAD;
  color: #fffffe;
}

.head-border {
    display: flex;
    align-items: center;
}
.head-border:before,
.head-border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #fffffe;
}

.head-border:before {
    margin-right: 1rem;
}

.head-border:after {
    margin-left: 1rem;
}

.small.text-main:hover {
  color: #fffffe;
}


table td {
  border-top: 1px solid #fffffe !important;
  border-bottom: 1px solid #fffffe !important;
}

.dropdown-custom {
  color: #fffffe !important;
  background-color: #242629 !important;
  border: 2px solid #16161a !important;
}

.dropdown-item {
  color: #fffffe !important;
}

.dropdown-item:hover {
  color: #fffffe !important;
  background-color: #242629 !important;
}

.image_form{
  display: none;
}

.text-decoration-none {
  text-decoration: none;
  color: #fffffe !important;
}

img {
  width: 100%;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card {
  background-color: #16161a !important;
}



@media (max-width: 575.98px) {

  .cp_rule_1 {
    font-size: 0.8rem;
  }
  .cp_rule_2 {
    font-size: 0.7rem;
  }
  .text-main {
    font-size: 0.6rem;
  }
  .app-name {
    font-size: 0.9rem !important;
  }
  .bg-btn {
    font-size: 0.6rem !important;
  }
  .text-hi {
    font-size: 0.8rem;
  }
 }

.heading12 {
	position: relative;
	font-size: 1rem;
}

.heading12::before {
	content: attr(data-number);
	display: inline-block;
	margin-right: 10px;
	color: #60CAAD;
	font-size: 1rem;
}