.box-wrap .box {
  display: none;
  position: absolute;
}

.btn-wrap.is-inactive {
  display: none;
}

.box-wrap.is-inactive .box{
  position: relative;
}

.profile-icon {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #333300;
}

.header-icon {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #333300;
}

.cal-heatmap-container {
	display: block;
}

.cal-heatmap-container .graph
{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.cal-heatmap-container .graph-label
{
	font-size: 1rem;
}

.cal-heatmap-container .graph, .cal-heatmap-container .graph-legend rect {
	shape-rendering: crispedges
}

.cal-heatmap-container .graph-rect
{
	fill: #ededed
}

.cal-heatmap-container .graph-subdomain-group rect:hover
{
	stroke: #000;
	stroke-width: 1px
}

.cal-heatmap-container .subdomain-text {
	font-size: 12px;
	pointer-events: none
}

.cal-heatmap-container .hover_cursor:hover {
	cursor: pointer
}

.cal-heatmap-container .qi {
	background-color: #999;
	fill: #999
}

/*
Remove comment to apply this style to date with value equal to 0
.q0
{
	background-color: #fff;
	fill: #fff;
	stroke: #ededed
}
*/

.cal-heatmap-container .q1
{
	background-color: #ead5ff;
	fill: #ead5ff
}

.cal-heatmap-container .q2
{
	background-color: #d5aaff;
	fill: #d5aaff
}

.cal-heatmap-container .q3
{
	background-color: #bf80ff;
	fill: #bf80ff
}

.cal-heatmap-container .q4
{
	background-color: #aa55ff;
	fill: #aa55ff
}

.cal-heatmap-container .q5
{
	background-color: #952bff;
	fill: #952bff
}

.cal-heatmap-container .q6
{
	background-color: #5500aa;
	fill: #5500aa
}

.cal-heatmap-container rect.highlight
{
	stroke:#444;
	stroke-width:1
}

.cal-heatmap-container text.highlight
{
	fill: #444
}

.cal-heatmap-container rect.highlight-now
{
	stroke: red
}

.cal-heatmap-container text.highlight-now
{
	fill: red;
	font-weight: 800
}

.cal-heatmap-container .domain-background {
	fill: none;
	shape-rendering: crispedges
}

.ch-tooltip {
	padding: 10px;
	background: #222;
	color: #bbb;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 99999;
	text-align: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: none;
	box-sizing: border-box;
}

.ch-tooltip::after{
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: "";
	padding: 0;
	display: block;
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #222;
}

.fa-square-x-twitter {
	color: rgb(30, 48, 80);
	font-family: unset;
	font-weight: bold;
}
.n-circle {
  position: absolute;
  padding-left: 1.3rem;
  padding-top: 1rem;
  color: #f91880;
}

.icon_mini {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #333300;
}

.navbar-nav .dropdown-toggle::after {
  display: none;
}

.profile-icon-default {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #333300;
}

.font-sm {
	font-size: 0.7rem;
}

.equal-width {
  width: 100%; /* もしくは具体的な幅を指定 */
  box-sizing: border-box; /* 幅にpaddingやborderも含める */
}

.equal-color {
  text-decoration: none;
  color: #212529;
}

.equal-color:hover {
  color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: none !important;
}

.equal-heading-size {
	font-size: 2rem;
  color: #212529;
}

.channel-menu {
  position: fixed;
  top: 0;
  @media screen and (max-width: 600px) {
    position: inherit;
    margin-left: 0;
  }
}

.channel-menu_name {
  display: inline-block;
  padding: 0 0.5rem 0 1.5rem;
  color: #555459;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 53px;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    padding-left: 0;
  }
}
.channel_name .prefix {
  margin-right: 8px;
}

.channel-menu_prefix {
  padding-right: 0.5rem;
  font-weight: 500;
}
.channel-menu_date {
  font-weight: bold;
}
.channel-menu h3 {
  float: right;
  padding-right: 0.1rem;
  font-weight: 500;
}
.listings {
  min-height: 100vh;
  height: 100%;
  width: 220px;
  float: left;
  color: #ab9ba9;
  background-color: #1b2c36 !important;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  @media screen and (max-width: 600px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.listings_channels {
  margin: 1rem 0 2rem;
}

.listings_header {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.25rem;
  margin: 0 1rem 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  width: 165px;
  position: relative;
}

.channel_list {
  padding: 0;
  list-style-type: none;
  text-align: left;
  color: #ab9ba9;
}

.channel {
  height: 24px;
  line-height: 24px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-right: 17px;
  color: #ffffff;
  padding-left: 1rem;
  a {
    color: #ddd;
    text-decoration: none;
    width: 100%;
    display: inline-block;
  }
  a:hover {
    color: #eee;
  }
}

.channel.active {
  background: #5013B5;
}

.app-logo {
	color: #5013B5;
	font-family: "Playfair Display";
	font-weight: bold;
}

.app-name {
	color: #4501B5;
	font-family: 'Anton', sans-serif;
}

.text-q {
  font-size: 1.5rem;
}

.custom-height {
  height: 2em;
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
